name: push

on:
  workflow_dispatch:
    branches: [ main ]
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install git-secret
      run: |
        sudo sh -c "echo 'deb https://gitsecret.jfrog.io/artifactory/git-secret-deb git-secret main' >> /etc/apt/sources.list"
        wget -qO - https://gitsecret.jfrog.io/artifactory/api/gpg/key/public | sudo apt-key add -
        sudo apt-get update
        sudo apt-get install git-secret
        git-secret --version
    - name: Reveal secrets
      run: |
        echo "$GPG_PRIVATE_KEY" | gpg --batch --no-tty --import
        git secret reveal -p "$GPG_SECRET_PASSPHRASE"
      env:
        GPG_PRIVATE_KEY: ${{secrets.GPG_PRIVATE_KEY}}
        GPG_SECRET_PASSPHRASE: ${{secrets.GPG_SECRET_PASSPHRASE}}
    - name: Setup
      id: setup
      run: make setup
    - name: Test
      id: test
      run: make test
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Artifacts
        path: ./*.log
